<div class="top">
    <div class="top-bar">
        <div class="container">
            <span class="top-bar__heading">你好，XXX，欢迎登录</span>
            <div class="top-bar__tail">
                <div class="button primary">个人中心</div>
                <div class="button">修改密码</div>
                <div class="button">退出登录</div>
            </div>
        </div>
    </div>
    <div class="top-menu"></div>
    <div class="top-banner"></div>
</div>