<%= require('../layout/header.ejs')({ title: '页面标题', desc: '页面描述' }) %>
<%= require('../layout/top.ejs')() %>
<div class="container ">
    <div class="content">栏目页</div>
    <p><a href="/article.html?id=1">文章一</a></p>
    <p><a href="/article.html?id=2">文章二</a></p>
    <p><a href="/article.html?id=3">文章三</a></p></p>
</div>
<%= require('../layout/footer.ejs')() %>
