  <%= require('../layout/header.ejs')({ title: '页面标题', desc: '页面描述' }) %>
  <%= require('../layout/top.ejs')() %>
  <div class="container">
    <div>首页</div>
    <a href="./about.html">关于我们</a>
    <div class="test">css测试</div>
    <div id="test">hi</div>
  </div>
  <%= require('../layout/footer.ejs')() %>
